<div class="secondContainer">

  <div class="secondContainerTop">
    <div class="secondContainerTopWrapper">
      <h1>Order summary</h1>
    </div>

    <div class="emptyBasket displayNone">
      <div class="secondContainerBottom">
        <div>
          <h6>Your cart is empty</h6>
        </div>
      </div>
    </div>
  </div>


  <div class="fullBasketContainer">

    <div class="secondContainerBottom padding40">
      <div>
        <h6 class="displayNone">{{1}} article</h6>
        <h6>{{13}} articles</h6>
        <h6>{{1234}} USD</h6>
      </div>

      <div>
        <h6>Shipping</h6>
        <h6>Calculated on checkout</h6>
      </div>

      <div>
        <h3>TOTAL</h3>
        <h3>{{1234}} USD</h3>
      </div>
    </div>


    <div class="secondProductsContainer">

      <div class="productInBasket">
        <div class="productInBasketLeft">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="productInBasketRight">
          <div class="prodBasTop">
            <a>
              <span>Remove</span>
            </a>
          </div>

          <div class="prodBasCenter">
            <h3>Name</h3>
            <h6>White</h6>
          </div>

          <div class="prodBasBottom">
            <div class="size">Size {{38}}</div>
            <div class="price">{{110}} USD</div>
          </div>
        </div>
      </div>

      <div class="productInBasket">
        <div class="productInBasketLeft">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="productInBasketRight">
          <div class="prodBasTop">
            <a>
              <span>Remove</span>
            </a>
          </div>

          <div class="prodBasCenter">
            <h3>Name</h3>
            <h6>White</h6>
          </div>

          <div class="prodBasBottom">
            <div class="size">Size {{38}}</div>
            <div class="price">{{110}} USD</div>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>




