@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/mixins";


.secondContainer {
  background-color: $lightColor;

}

.secondContainerBottom {
  display: flex;
  flex-direction: column;

  div {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;

    h6 {
      @include text($primaryFont, 14px, 500, $sideColor);
      margin: 0;
    }

    h2 {
      text-align: center;
      letter-spacing: 2px;

      a {
        @include text($primaryFont, 18px);
        text-decoration: none;
        position: relative;
      }

      a:after {
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        height: 1px;
        bottom: -1px;
        background-color: $primaryColor;
        transform: scaleX(1);
        transform-origin: right;
        pointer-events: none;
        transition: transform .3s cubic-bezier(0.25, 0.1, 0.25, 1), background-color .3s cubic-bezier(0.25, 0.1, 0.25, 1);
      }

      a:hover:after {
        transform: scaleX(0);
        transform-origin: left;
      }
    }
  }


  div:nth-child(2) {
    margin-top: 3vh;
  }

  div:nth-child(3) {
    padding-bottom: 3vh;
  }

  div:nth-child(3):after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: $primaryColor;
    bottom: 0;
  }
}

.secondProductsContainer {
  width: 100%;
  padding: 0 40px;
}

.productInBasket {
  width: 100%;
  //height: 200px;
  display: flex;
  flex-direction: row;
  //background-color: greenyellow;
  margin-top: 5vh;
}

.productInBasketLeft {
  width: 25%;
  //height: 200px;
  //background-color: #bf2424;

  img {
    width: 100%;
  }
}

.productInBasketRight {
  width: 75%;
  //height: 200px;
  //background-color: rgba(255, 106, 106, 0.36);
  padding: 10px 0 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prodBasTop {
  display: flex;
  justify-content: flex-end;

  a {
    @include text($primaryFont, 14px);
    cursor: pointer;

    span {
      display: inline-block;
      position: relative;
    }

    span:after {
      position: absolute;
      left: 0;
      right: 0;
      content: "";
      height: 1px;
      background-color: rgb(46, 46, 45);
      pointer-events: none;
      transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      bottom: 0.05em;
      transform: scaleX(1);
      transform-origin: left center;
    }

    span:hover:after {
      transform: scaleX(0);
      transform-origin: right center;
    }
  }
}

.prodBasCenter {
  h3 {
    @include text($boldPrimaryFont, 14px);
  }

  h6 {
    margin-top: 1vh;
    @include text($primaryFont, 12px, 500, $sideColor);
  }
}

.prodBasBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    @include text($primaryFont, 14px);
  }
}

.fullBasketContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout{
  //display: flex;
  text-transform: uppercase;
  height: 10vh;
  border: solid 1px $primaryColor;
  cursor: pointer;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, border-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  width: 90%;
  margin: 15vh 0;
  background-color: $primaryColor;

  a{
    display: block;
    line-height: 10vh;
    width: 100%;
    height: 100%;
    text-decoration: none;
    @include text($primaryFont, 14px, 500, $lightColor);
  }
}


@media screen and (max-width: 900px) {

  .secondProductsContainer {
    width: 100%;
    padding: 5vh 10px;
  }


  .padding40 {
    padding: 0 10px;
  }

  .productInBasketRight {
    padding: 10px 0 10px 10px;
  }

}



