<footer>
  <div class="top">
    <a [routerLink]="['/']" class="logo">TTSWTRS</a>
  </div>
  <div class="mid">
    <div class="midRight">
      <div class="title">Info</div>
      <span></span>
      <div class="list">
        <div class="item">Shipping & returns</div>
        <div class="item">Terms of service</div>
        <div class="item">Customer service</div>
        <div class="item">Order status</div>
        <div class="item">For press</div>
      </div>
    </div>
    <div class="midLeft">
      <div class="title">NEWSLETTER</div>
      <span></span>
      <input type="text" class="mail" placeholder="E-mail">
      <button>SUBSCRIBE</button>
    </div>

  </div>
  <div class="bot">
    <div>
      <i class="uil uil-facebook"></i>
      <i class="uil uil-instagram-alt"></i>
      <i class="uil uil-twitter"></i>
    </div>
  </div>
</footer>
