@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

footer{
  height: 300px;
  background-color: #fffaf8;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .top{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo {
      @include text($logoFont, 22px);
      padding-left: 3vw;
      text-decoration: none;
    }
  }
  .mid{
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    span{
      height: 1px;
      width: 200px;
      background-color: black;
    }

    .title{
      @include text($primaryFont, 18px);
      margin-bottom: 3px;
    }
    .midRight{
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .list{
        margin-top: 20px;

        div{
          margin-bottom: 4px;
          @include text($primaryFont, 15px,$primaryColor);
        }
      }
    }
    .midLeft{
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .mail{
        width: 200px;
        height: 30px;
        margin-top: 20px;
        border: 0.5px darkgrey solid;
        text-align: center;
      }
      button{
        margin-top: 20px;
        width: 200px;
        height: 30px;
        background-color: $primaryColor;
        @include text($primaryFont, 18px);
        border: 0.5px $primaryColor solid;
        color: #fffaf8;
      }
    }
  }
  .bot{
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    div{
      width: 30%;
      justify-content: space-around;
      display: flex;

      i{
        font-size:50px ;
        color: $primaryColor;
      }
    }
  }
}

