@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

footer{
  height: 300px;
  background-color: $lightColor;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 500px) {
    height: 100%;
  }

  .top{
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    .logo {
      @include text($logoFont, 22px);
      text-decoration: none;
    }
  }

  .mid{
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: center;
    }

    .title{
      @include text($primaryFont, 18px);
      margin-bottom: 3px;
    }

    span{
      height: 1px;
      width: 200px;
      background-color: black;
    }

    .midRight{
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (max-width: 500px) {
        margin-top: 15px;
      }

      .list{
        margin-top: 20px;
        @media screen and (max-width: 500px) {
          width: 200px;
          text-align: center;
        }

        a{
          display: block;
          margin-bottom: 10px;
          @include text($primaryFont, 14px,$primaryColor);
          text-decoration: none;
        }
      }
    }
    .midLeft{
      width: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;

      @media screen and (max-width: 500px) {
        margin-top: 15px;
      }
      .mail{
        width: 200px;
        height: 30px;
        margin-top: 20px;
        border: 0.5px darkgrey solid;
        text-align: center;
      }
      button{
        margin-top: 20px;
        width: 200px;
        height: 30px;
        background-color: $primaryColor;
        @include text($primaryFont, 14px);
        border: 0.5px $primaryColor solid;
        color: #fffaf8;
      }
    }
  }
  .bot{
    margin-top: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    div{
      width: 30%;
      justify-content: space-around;
      display: flex;

      i{
        font-size:50px ;
        color: $primaryColor;
      }
    }
  }
}


.search {
  display: inline-block;
  text-align: start;
  appearance: auto;
  @include text($primaryFont, 14px);
  line-height: 2rem;
  letter-spacing: 0.035em;
  border: none;
  border-bottom: 1px solid #2d2d2d;
  background: transparent;
  padding: 1vh 0;
  width: 200px;
  height: 30px;
  margin-top: 20px;
}
.search:focus {
  outline: none;
}
.search::placeholder {
  @include text($primaryFont, 14px);
}
