<footer>
  <div class="top">
    <a [routerLink]="['/']" class="logo">TTSWTRS</a>
  </div>
  <div class="mid">
    <div class="midRight">
      <div class="title">INFO</div>
      <span></span>
      <div class="list">
        <a [routerLink]="['/termsOfUse']" class="item">Terms of use</a>
        <a [routerLink]="['/shipmentAndReturn']" class="item">Shipment and return</a>
        <a [routerLink]="['/shops']" class="item">Shops</a>
        <a [routerLink]="['/contacts']" class="item">Contacts</a>
      </div>
    </div>
    <div class="midLeft">
      <div class="title">NEWSLETTER</div>
      <span></span>
      <input type="text" class="search" placeholder="E-mail">
      <button>SUBSCRIBE</button>
    </div>

  </div>
  <div class="bot">
    <div>
      <i class="uil uil-facebook"></i>
      <i class="uil uil-instagram-alt"></i>
      <i class="uil uil-twitter"></i>
    </div>
  </div>
</footer>
