<div class="container">

  <h1>Доставка та повернення</h1>

  <p>КУДИ МОЖЛИВО ЗАМОВИТИ ДОСТАВКУ?
    <br>
    Доставка здійснюється по всій території України.
    <br>
    Для здійснення доставки на території Росії, відвідайте сайт ru.ttswtrs.com
    <br>
    Для здійснення доставки в будь-яку країну світу, відвідайте сайт ttswtrs.com
    <br>
    Ми будемо раді допомогти вам при виникненні будь-яких питань. Будь ласка, напишіть нам на електронну скриньку customercare@ttswtrs.com або в чат WhatsApp на сайті ua.ttswtrs.com
    <br>


    ЯК ШВИДКО Я ОТРИМАЮ ЗАМОВЛЕННЯ?
    <br>
    Зазвичай Ваше Замовлення відправляється протягом 3 (трьох) робочих днів. Якщо на момент замовлення деякі з товарів були відсутні та потребують виробництва, доставка може тривати довше, але не більше 14 робочих днів.
    <br>
    Зазвичай ми доставляємо:
    <br>
    - Київ: власним кур’єром  або Новою поштою
    <br>
    - Україна: Нова пошта
    <br>
    У Вас також є можливість забрати ЗАМОВЛЕННЯ безпосередньо у наших магазинах, що знаходяться у Києві та Одесі.</p>

</div>
