<div class="myContainer">
  <h1>Доставка та повернення</h1>

  <div>
    <p class="firstParagraph">КУДИ МОЖЛИВО ЗАМОВИТИ ДОСТАВКУ?</p>
    <p>Доставка здійснюється по всій території України.</p>
    <p>Для здійснення доставки на території Росії, відвідайте сайт ru.ttswtrs.com</p>
    <p>Для здійснення доставки в будь-яку країну світу, відвідайте сайт ttswtrs.com</p>
    <p class="lastParagraph">Ми будемо раді допомогти вам при виникненні будь-яких питань. Будь ласка, напишіть нам на
      електронну скриньку
      customercare@ttswtrs.com або в чат WhatsApp на сайті ua.ttswtrs.com</p>

    <p class="firstParagraph">ЯК ШВИДКО Я ОТРИМАЮ ЗАМОВЛЕННЯ?</p>
    <p>Зазвичай Ваше Замовлення відправляється протягом 3 (трьох) робочих днів. Якщо на момент замовлення деякі з
      товарів
      були відсутні та потребують виробництва, доставка може тривати довше, але не більше 14 робочих днів.</p>
    <p>Зазвичай ми доставляємо:</p>
    <p>- Київ: власним кур’єром або Новою поштою</p>
    <p>- Україна: Нова пошта</p>
    <p>У Вас також є можливість забрати ЗАМОВЛЕННЯ безпосередньо у наших магазинах, що знаходяться у Києві та Одесі.</p>

  </div>
</div>
