@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

header {
  width: 100%;
  height: 10vh;
  background-color: $bgColor;

  @media screen and (min-width: 1441px){
    height: 5vh;
  }

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .menuContainer{
    width: 100%;
    margin-top: 2vh;
    background-color: $bgColor;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    .menuWrapperLeft{
      width: 70%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: baseline;
    }
    .menuWrapperRight{
      width: 30%;

      .menuInnerWrapper{
        padding-right: 3vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    .logo{
      @include text($logoFont, 22px);
      padding-left: 3vw;
    }

    a{
      position: relative;
      margin: 10px;
      text-decoration: none;
      @include text($primaryFont, 14px);
    }
  }

  .burgerMenu{
    display: none;
    width: 25px;
    height: 25px;
    background-color: $sdPrimaryColor;
  }
}

.basket:before{
  content: "";
  @include text($primaryFont, 8px);
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -5px;
  left: 99%;
  background-color: $sdPrimaryColor;
}



@media screen and (max-width: 769px){
  header{
    .menuContainer{
      display: none;
    }

    .burgerMenu{
      display: block;
    }


  }
}




