@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/mixins";

.products-detailsContainer {
  //width: 100vw;
  min-height: 100vh;
  background-color: $lightColor;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.bigWrapper {
  display: flex;
  width: 100%;
}

.bigWrapperForSm {
  display: none;
}

.imagesContainer {
  width: 55vw;
  height: initial;
  background-color: $lightColor;
}

.imagesContainerWrapper {
  position: relative;
  flex-grow: 1;
  width: inherit;
  object-fit: contain;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      display: block;
      user-select: none;
      visibility: visible;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
}

.heartContainer {
  position: sticky;
  bottom: 0;
  height: 0;
  width: 100%;

  span {
    display: block;
    position: absolute;
    right: 2vw;
    bottom: 2vw;
    width: 3vw;
    height: 3vw;

    button {
      background-color: transparent;
      border: 0;
      cursor: pointer;
      margin: -10px;
      display: block;
      padding: 10px;
      box-sizing: content-box;
      width: 100%;
      height: 100%;
    }
  }
}

.pointsContainer {
  position: sticky;
  width: 0;
  bottom: 0;
  height: 0;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.778vw;
    position: absolute;
    bottom: 2.778vw;

    li {
      padding: 0.833vw;
      margin-left: -0.833vw;
      cursor: pointer;
      list-style-type: none;
    }
  }
}

.active:after {
  content: "";
  width: 3px;
  height: 3px;
  display: block;
  background-color: rgb(46, 46, 45);
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
}

.notActive:after {
  content: "";
  width: 3px;
  height: 3px;
  display: block;
  border-radius: 50%;
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, background-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
  transform: scale(0.6);
  background-color: rgb(164, 164, 164);
}


.detailsContainer {
  width: 45%;
}

.detailsContainerWrapper {
  position: sticky;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: $lightColor;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: 1;
  padding: 20vh 7vw 5vh;

}

.detailsContainerTop {
  display: flex;
  flex-direction: column;

  h1 {
    @include text($boldPrimaryFont, 20px);
    margin-bottom: 1vh;
  }

  h2 {
    @include text($boldPrimaryFont, 14px)
  }
}


.sizeContainer {
  width: 100%;
  margin-top: 10px;
  padding-bottom: 0.1rem;
  position: relative;
  transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;
  //transform: translateY(var(--collapse-height));

  div {
    //display: flex;
    //justify-content: space-between;
    //align-items: flex-start;

    h4 {
      @include text($primaryFont, 14px);
      margin-bottom: 10px;
    }
  }

  form {
    display: flex;
    flex-direction: column;


    ul {
      display: flex;
      flex-direction: row;
      padding-left: 0;
      height: 15px;

      li {
        list-style-type: none;
        padding-right: 1.2rem;

        input[type="radio"] {
          display: none;
        }

        label {
          cursor: pointer;
          @include text($primaryFont, 14px);
          position: relative;
          display: inline-block;
          width: 2vw;
          text-align: center;
        }

        label:after {
          position: absolute;
          left: 0;
          right: 0;
          content: '';
          height: 1px;
          bottom: -1px;
          background-color: $primaryColor;
          transform: scaleX(0);
          transform-origin: right;
          pointer-events: none;
          transition: transform .4s cubic-bezier(0.25, 0.1, 0.25, 1), background-color .3s cubic-bezier(0.25, 0.1, 0.25, 1);
        }

        label:hover:after {
          transform: scaleX(1);
          transform-origin: left;
        }

        input:checked + label {
          border-bottom: 1px solid $primaryColor;
        }
      }
    }

    button {
      //display: flex;
      text-transform: uppercase;
      height: 10vh;
      border: solid 1px $primaryColor;
      cursor: pointer;
      border-radius: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, border-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      width: 100%;
      margin-top: 15vh;

      div {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.addToBasketDis {
  background-color: transparent;
  @include text($primaryFont, 14px, 500, $primaryColor);
  opacity: 0.8;
}

.addToBasketActive {
  background-color: $primaryColor;
  @include text($primaryFont, 14px, 500, $lightColor);
  opacity: 1;
}

.addToBasketActive:disabled{
  opacity: 0.5;
}

.buttonBuyPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 3vw 0 3vw;

  i {
    margin-right: 1vw;
  }
}

.selectTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  span {
    width: 100%;
    height: 100%;
    line-height: 10vh;
  }
}




.sizeContainer:before {
  content: '';
  display: block;
  background: #eee;
  height: 1px;
  width: 100%;
  margin-bottom: 2.4rem;
}




.detailsContainerBottom {
  display: flex;
  justify-content: center;

  a {
    color: $primaryColor;
    position: relative;
    cursor: pointer;

    span {
      display: inline-block;
      position: relative;
      @include text($primaryFont, 14px);
    }

    span:after {
      position: absolute;
      left: 0;
      right: 0;
      content: '';
      height: 1px;
      bottom: -1px;
      background-color: $primaryColor;
      transform: scaleX(0);
      transform-origin: right;
      pointer-events: none;
      transition: transform .3s cubic-bezier(0.25, 0.1, 0.25, 1), background-color .3s cubic-bezier(0.25, 0.1, 0.25, 1);
    }
  }

  a:hover span:after {
    transform: scaleX(1);
    transform-origin: left;
  }
}


aside {
  right: 0;
  bottom: 0;
  background: $lightColor;
  z-index: 200;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: content-box;
  overflow: auto;

  //transform: translateX(100%);
  transition: transform 1s;
}

.asideWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  padding-top: 20vh;
  padding-bottom: 5vh;
  height: auto;
  overflow: auto;
}

.moreDetailsContainer {
  width: 70%;

  h1 {
    @include text($boldPrimaryFont, 20px);
    margin-bottom: 5vh;
  }

  h4 {
    @include text($boldPrimaryFont, 14px);
    margin-bottom: 1vh;
  }

  p {
    @include text($primaryFont, 14px);
    margin-bottom: 1vh;
  }
}

.aboutModel {
  margin: 3vh 0;
}

.grey {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgb(101, 101, 101, .5);
  z-index: 199;
  cursor: pointer;
}


.visible {
  opacity: 1;
  transform: none;
}

.hidden {
  opacity: 0;
  transform: none;
}

.displayNone {
  display: none;
}

.displayFlex {
  display: flex;
}

//.translate100{
//  transform: translateX(100%);
//}

//.translate0{
//  transition: transform 1s;
//  transform: translateX(0%);
//}


@media screen and (max-width: 900px) {
  .bigWrapper {
    display: none;
  }

  .bigWrapperForSm {
    display: flex;
    width: 100%;
  }

  .smallerContainer {
    width: 100%;
    background: $lightColor;
  }


  .smContainer {


  }

  .contentContainerSm {
    position: sticky;
    width: 100%;
  }


  .buttonContainer {
    border-top: 1px solid $sideColor;
    position: sticky;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 15vh;
    z-index: 301;
    background-color: $lightColor;
    padding: 2vh 5vw;

    button {
      background-color: $primaryColor;
      @include text($primaryFont, 14px, 500, $lightColor);
      text-transform: uppercase;
      height: 7vh;
      border: solid 1px $primaryColor;
      cursor: pointer;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, border-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      width: 100%;
      padding: 0 2rem;
    }

    button:disabled {
      background-color: transparent;
      @include text($primaryFont, 14px, 500, $primaryColor);
      opacity: 0.9;
    }
  }

  .mainImgContainer {
    width: 100%;
    min-height: 50vh;

    img {
      width: 100%;
    }
  }

  .detailsContainerSm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
  }

  .detailsContainerSmWrapper {
    width: 70%;
    text-align: center;

    h1 {
      @include text($boldPrimaryFont, 20px);
      margin-bottom: 3vh;
    }

    h2 {
      @include text($boldPrimaryFont, 14px);
      margin-bottom: 8vh;
    }
  }

  .detailsContainerBottom {
    a {
      cursor: default;

      span:after {
        transform: scaleX(1);
      }
    }
  }


  .sizeContainerSm {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1vh;

    h4 {
      @include text($primaryFont, 18px);
      margin-right: 5vw;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        margin: 0 1vw;

        input{
          @include text($primaryFont, 14px);
          text-decoration: none;
        }

      }
    }
  }

  .moreDetailsWrapper {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
  }

  .otherPhotosContainer {
    width: 100%;

    img {
      width: 100%;
    }
  }


}

.liked{
  color: $sdPrimaryColor;
}

