<div class="products-detailsContainer">

  <div class="bigWrapper">
    <div class="imagesContainer" (click)="moreDetailsClose()">
      <div class="imagesContainerWrapper">
        <ul>
          <li *ngFor="let img of product?.images">
            <img src="{{img}}" alt="">
          </li>
        </ul>

        <div class="heartContainer">
        <span>
          <button type="button">
            <i class="uil uil-heart-alt" *ngIf="!product?.liked"
               (click)="addToFavorites(product)"></i>
            <i class="uil uil-heart-alt liked" *ngIf="product?.liked"
               (click)="removeFromFavorites(product)"></i>
            <!--            (click)="removeFromFavorites(product)"-->
            <!--            (click)="addToFavorites(product)"-->
        </button>
        </span>
        </div>

        <div class="pointsContainer">
          <div>
            <li class="notActive"></li>
            <li class="active"></li>
            <li class="notActive"></li>
          </div>
        </div>
      </div>
    </div>


    <div class="detailsContainer">

      <div class="detailsContainerWrapper">
        <div class="detailsContainerTop">
          <h1>{{ product?.name | titlecase}}</h1>
          <h2>{{product?.ref | uppercase}}</h2>
          <div class="sizeContainer">
            <div>
              <h4>Size</h4>
            </div>

            <form [formGroup]="sizeForm"
                  (ngSubmit)="addToBasket(product)">
              <ul>
                <li *ngFor="let size of productSize">
                  <input type="radio" value="{{size}}" id="{{size}}" name="size" formControlName="size">
                  <label for="{{size}}">{{size | titlecase}}</label>
                </li>
              </ul>


              <button class="addToBasketDis"
                      type="button"
                      [ngClass]="{'displayNone':sizeForm.valid}">
                <div class="addTxt"
                     (mouseover)="changeBtnSize()"
                     [ngClass]="{'displayNone' : activeButton, 'displayFlex' : !activeButton}">
              <span class="buttonBuyPrice">
                <span>
                  <i class="uil uil-shopping-bag"></i>
                  ADD
                </span>
                <span>{{product?.price}} USD</span>
              </span>
                </div>

                <div class="selectTxt displayNone"
                     (mouseout)="changeBtnSize()"
                     [ngClass]="{'displayNone' : !activeButton, 'displayFlex' : activeButton}">
                    <span>
                      SELECT A SIZE
                    </span>
                </div>

              </button>

              <button class="addToBasketActive"
                      type="submit"
                      [ngClass]="{'displayNone':sizeForm.invalid}">
                <span class="selectASize">ADD TO CART</span>
              </button>
            </form>
          </div>


        </div>

        <div class="detailsContainerBottom">
          <a class="moreDetails" (click)="moreDetailsOpen()">
            <span>More details</span>
          </a>
        </div>

        <!--        class="displayNone"-->
        <aside [ngClass]="{'displayNone' : !asideIsOpen}">
          <div class="asideWrapper">
            <div class="moreDetailsContainer">
              <h1>{{ product?.name | titlecase}}</h1>
              <div class="composition">
                <h4>Composition:</h4>
                <p *ngFor="let comp of product?.composition">{{comp}}</p>
              </div>
              <div class="aboutModel">
                <p>
                  The model is {{product?.modelHeight}} cm tall and wears a size {{product?.modelSize | titlecase}}
                </p>
              </div>
              <div class="care">
                <h4>Care:</h4>
                <p>Do not send</p>
                <p>Do not bleach</p>
                <p>Dry dry cleaning</p>
                <p>Iron 110°</p>
                <p>Do not dry in the washing machine</p>
              </div>
            </div>
          </div>


        </aside>

        <div class="grey" (click)="moreDetailsClose()" [ngClass]="{'displayNone': !asideIsOpen}"></div>
      </div>
    </div>
  </div>

  <div class="bigWrapperForSm">
    <div class="smallerContainer">

      <div class="smContainer">

        <div class="contentContainerSm">
          <div class="mainImgContainer" *ngFor="let img of product?.images">
            <img src="{{img}}" alt="">
          </div>

          <div class="detailsContainerSm">
            <div class="detailsContainerSmWrapper">
              <h1>{{ product?.name | titlecase}}</h1>
              <h2>{{product?.ref | uppercase}}</h2>

              <div class="detailsContainerBottom">
                <a class="moreDetails">
                  <span class="moreDetailsBtn">More details</span>
                </a>
              </div>

              <div class="moreDetailsWrapper">
                <div class="moreDetailsContainer">
                  <div class="composition">
                    <h4>Composition:</h4>
                    <p>95% silk</p>
                    <p>5% elastane</p>
                  </div>
                  <div class="aboutModel">
                    <p>
                      The model is {{178}} cm tall and wears a size {{34}}
                    </p>
                  </div>
                  <div class="care">
                    <h4>Care:</h4>
                    <p>Do not send</p>
                    <p>Do not bleach</p>
                    <p>Dry dry cleaning</p>
                    <p>Iron 110°</p>
                    <p>Do not dry in the washing machine</p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="otherPhotosContainer">
            <img src="assets/images/f4a6f891a26fa4edacccbf95d4c1d5e9_1600x.jpg" alt="">
            <img src="assets/images/ttswtrs_2_1600x.jpg" alt="">
          </div>


        </div>

        <div class="buttonContainer">
          <div class="sizeContainerSm">
            <h4>Size</h4>

            <ul>
              <li *ngFor="let size of productSize">
                <input type="radio" value="{{size}}" id="{{size}}.sm" name="size" formControlName="size">
                <label for="{{size}}">{{size | titlecase}}</label>
              </li>
            </ul>

<!--            <ul>-->
<!--              <li>-->
<!--                <a href="#" class="inStock">S</a>-->
<!--              </li>-->
<!--              <li>-->
<!--                <a href="#" class="inStock">M</a>-->
<!--              </li>-->
<!--            </ul>-->
          </div>

          <button id="addToBasketBtn" disabled>
            <span class="buttonBuyPrice visible displayFlex">
              <span>
                <i class="uil uil-shopping-bag"></i>
                ADD
              </span>
              <span>200 USD</span>
            </span>
          </button>
        </div>

      </div>
    </div>
  </div>

</div>
