<div class="container">
  <div class="forHeader"></div>
  <h1>
    VIP-примірка на дому
  </h1>

  <div>
    <p>Замовляйте онлайн і приміряйте речі не виходячи з дому. Наш стиліст-консультант привезе різні моделі в
      декількох
      розмірах за зручною для вас адресою.</p>
    <p>При необхідності стиліст допоможе вибрати ідеальний для вас варіант.</p>
    <p>Щоб скористатися цією послугою в Києві — зв'яжіться з нами по телефону +380 (98) 975 73 32 або напишіть в будь-
      який
      зручний мессенджер.</p>
    <p>Мінімальний заказ для замовлення послуги від 10 000 грн.</p>
  </div>

</div>
