<div class="container">
  <h1>
    VIP-примірка на дому
  </h1>

  <p>
    Замовляйте онлайн і приміряйте речі не виходячи з дому. Наш стиліст-консультант привезе різні моделі в декількох
    розмірах за зручною для вас адресою.
    <br>
    При необхідності стиліст допоможе вибрати ідеальний для вас варіант.
    <br>
    Щоб скористатися цією послугою в Києві — зв'яжіться з нами по телефону +380 (98) 975 73 32 або напишіть в будь- який
    зручний мессенджер.
    <br>
    Мінімальний заказ для замовлення послуги від 10 000 грн.
  </p>
</div>
