<div class="myContainer">

  <h1>Про нас</h1>

  <h3>
    Ми — TTSWTRS (татусветерс) — колабораційний проект, в якому мистецтво переплітається з одягом.
  </h3>


  <video controls autoplay poster="assets/images/pre.jpg">
    <source src="/assets/video/TTSWTRS_VIRTUAL_360_SHOW_OF_TECHNOLOGICAL_SINGULARITY.mp4"
            type="video/mp4">
    Your browser does not support HTML video.
  </video>

  <audio controls>
    <source src="/assets/audio/ttswtrsAudio.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>

  <div>
    <p>TTSWTRS був заснований в 2013 році Анною Осмєхіною — стилістом, редактором моди, художником по костюмах.</p>
    <p>Почавши свій шлях із маленької команди ентузіастів, бренд за кілька років став відомий на весь світ, а одяг
      TTSWTRS носять Ніккі Мінаж, Кортні Кардашьян, Вінні Харлоу, Ірина Шейк, Лєна Пермінова, Ніна Кравіц, Сіта Абеллан,
      Ліза Оуен, Томмі Кеш, Віра Брежнєва, Ксенія Собчак та багато інших.</p>
    <p>Уже з першої колекції TTSWTRS був представлений у культовому Colette. А з другої — наш одяг почав продаватися в
      Японії. Сьогодні на рахунку TTSWTRS більше 15 колаборацій з тату-майстрами, мультидисциплінарними художниками,
      фотографами.</p>
    <p>За цей час ми відкрили фабрику TTSWTRS з власним друкованим цехом в Києві, а також простори TTSWTRS —
      флагманський
      магазин в Києві, Москві, і Одесі. Наші колекції продаються по всьому світу.</p>
    <p>Анна Осмєхіна: «Концепт TTSWTRS з'явився доволі випадково. Моя подруга зустрічалася з відомим тату-майстром —
      Йеном
      Левіним. Мене настільки надихнула і зацікавила його енергія, що незабаром я створила капсулу з робочою назвою
      «tattoosweaters».</p>
    <p>Ми створюємо колаборації з початківцями і відомими тату-майстрами, переносячи їх роботи на свій одяг.</p>
    <p>Починали ми з того, що створювали одяг з ілюзією голого тіла, покритого татуюваннями, використовуючи тільки ті
      тату,
      які вже були набиті на чиїйсь шкірі. З того часу ми багато експериментували, шукали нові напрямки і форми.</p>
    <p>Наша ДНК — в тонких нюдових виробах у тату і арт-імітації голого тіла. Ми дуже педантично розробляємо дизайни і
      вибираємо матеріали: вони приїжджають до нас з Італії, Японії, Португалії та інших країн. Все для того, щоб
      досягти
      максимального комфорту, та завдяки цьому одяг TTSWTRS відчувається як друга шкіра.</p>
    <p>Наше натхнення — суб-культура тату, тіло в усіх його формах і сприйняття його, як полотна.</p>
    <p>Наша пристрасть — якість, експерименти з контентом і графічним дизайном.</p>
    <p>Наша мета — відповідність часу.</p>
  </div>



</div>
