<div class="productsContainer">

  <div class="prodContainer" (mouseover)="showDescription(1)" (mouseout)="hideDescription(1)">
    <div class="descriptionContainer hidden" id="1">

      <div class="descriptionContainerTop">
        <button type="button">
          <i class="uil uil-heart-alt"></i>
        </button>
      </div>


      <a [routerLink]="['/products/collections/', 1]">
        <div class="descriptionImg">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="descriptionContainerBottom">
          <div class="namePriceCont">
            <h3>Name 1</h3>
            <h4>200 USD</h4>
          </div>
          <div class="sizeCont">
            <span>32</span>
            <span>34</span>
          </div>
        </div>
      </a>

      <div class="descriptionForSm">
        <div class="namePriceCont">
          <h3>Name 1</h3>
          <h4>200 USD</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="prodContainer" (mouseover)="showDescription(2)" (mouseout)="hideDescription(2)">
    <div class="descriptionContainer hidden" id="2">

      <div class="descriptionContainerTop">
        <button type="button">
          <i class="uil uil-heart-alt"></i>
        </button>
      </div>


      <a [routerLink]="['/products/collections/', 2]">
        <div class="descriptionImg">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="descriptionContainerBottom">
          <div class="namePriceCont">
            <h3>Name 2</h3>
            <h4>200 USD</h4>
          </div>
          <div class="sizeCont">
            <span>32</span>
            <span>34</span>
          </div>
        </div>
      </a>

      <div class="descriptionForSm">
        <div class="namePriceCont">
          <h3>Name 2</h3>
          <h4>200 USD</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="prodContainer" (mouseover)="showDescription(3)" (mouseout)="hideDescription(3)">
    <div class="descriptionContainer hidden" id="3">

      <div class="descriptionContainerTop">
        <button type="button">
          <i class="uil uil-heart-alt"></i>
        </button>
      </div>


      <a [routerLink]="['/products/collections/', 3]">
        <div class="descriptionImg">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="descriptionContainerBottom">
          <div class="namePriceCont">
            <h3>Name 3</h3>
            <h4>200 USD</h4>
          </div>
          <div class="sizeCont">
            <span>32</span>
            <span>34</span>
          </div>
        </div>
      </a>

      <div class="descriptionForSm">
        <div class="namePriceCont">
          <h3>Name 3</h3>
          <h4>200 USD</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="prodContainer" (mouseover)="showDescription(4)" (mouseout)="hideDescription(4)">
    <div class="descriptionContainer hidden" id="4">

      <div class="descriptionContainerTop">
        <button type="button">
          <i class="uil uil-heart-alt"></i>
        </button>
      </div>


      <a [routerLink]="['/products/collections/', 4]">
        <div class="descriptionImg">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="descriptionContainerBottom">
          <div class="namePriceCont">
            <h3>Name 4</h3>
            <h4>200 USD</h4>
          </div>
          <div class="sizeCont">
            <span>32</span>
            <span>34</span>
          </div>
        </div>
      </a>

      <div class="descriptionForSm">
        <div class="namePriceCont">
          <h3>Name 4</h3>
          <h4>200 USD</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="prodContainer" (mouseover)="showDescription(5)" (mouseout)="hideDescription(5)">
    <div class="descriptionContainer hidden" id="5">

      <div class="descriptionContainerTop">
        <button type="button">
          <i class="uil uil-heart-alt"></i>
        </button>
      </div>


      <a [routerLink]="['/products/collections/', 5]">
        <div class="descriptionImg">
          <img src="./assets/images/silkDressBlack.jpg" alt="">
        </div>

        <div class="descriptionContainerBottom">
          <div class="namePriceCont">
            <h3>Name 5</h3>
            <h4>200 USD</h4>
          </div>
          <div class="sizeCont">
            <span>32</span>
            <span>34</span>
          </div>
        </div>
      </a>

      <div class="descriptionForSm">
        <div class="namePriceCont">
          <h3>Name 5</h3>
          <h4>200 USD</h4>
        </div>
      </div>
    </div>
  </div>


</div>
