<div class="productsContainer">

  <div class="prodContainer"
       *ngFor="let prod of userProducts"
       (mouseover)="showDescription(prod.id)" (mouseout)="hideDescription(prod.id)">
    <div class="descriptionContainer hidden" id="{{prod.id}}">

      <div class="descriptionContainerTop">
        <button type="button">
          <i class="uil uil-heart-alt" *ngIf="!user?.liked"
             (click)="addToFavorites(prod)"></i>
          <i class="uil uil-heart-alt liked" *ngIf="user?.liked"
             (click)="removeFromFavorites(prod)"></i>
        </button>
      </div>


      <a [routerLink]="['/products/collections/',prod.collection.path, prod.id]">
        <div class="descriptionImg">
          <img [src]="prod.images[0]" alt="">
        </div>

        <div class="descriptionContainerBottom">
          <div class="namePriceCont">
            <h3>{{prod.name}}</h3>
            <h4>{{prod.price}} USD</h4>
          </div>
          <div class="sizeCont">
            <span *ngFor="let size of prod.size">
              {{size}}
            </span>
          </div>
        </div>
      </a>

      <div class="descriptionForSm">
        <div class="namePriceCont">
          <h3>{{prod.name}}</h3>
          <h4>{{prod.price}} USD</h4>
        </div>
      </div>
    </div>
  </div>


</div>
