<div class="secondContainer">
  <div class="secondContainerTop">
    <div class="secondContainerTopWrapper">
      <h1>Favorites</h1>
    </div>

    <div class="secondContainerBottom">
      <h6 *ngIf="length<=1">{{length}} article saved</h6>
      <h6 *ngIf="length>1">{{length}} articles saved</h6>
    </div>
  </div>

  <div class="secondProductsContainer padding40">

    <div class="prodContainer" *ngFor="let fav of userFavorites"
         (mouseover)="showDescription(fav.id)" (mouseout)="hideDescription(fav.id)">
      <div class="descriptionContainer hidden" id="{{fav.id}}">

        <div class="descriptionContainerTop">
          <button type="button">
            <i class="uil uil-heart-alt liked"
               (click)="removeFromFavorites(fav)"></i>
          </button>
        </div>


        <a [routerLink]="['/products/collections/', fav.collection.path, fav.id]">
          <div class="descriptionImg">
            <img [src]="fav.images[0]" alt="">
          </div>

          <div class="descriptionContainerBottom">
            <div class="namePriceCont">
              <h3>{{fav?.name}}</h3>
              <h4>{{fav?.price}} USD</h4>
            </div>
            <div class="sizeCont">
              <span *ngFor="let size of fav.size">{{size}}</span>
            </div>
          </div>
        </a>

        <div class="descriptionForSm">
          <div class="namePriceCont">
            <h3>{{fav?.name}}</h3>
            <h4>{{fav?.price}} USD</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
