<div class="container">
  <div class="forHeader"></div>

  <h1>Умови використання</h1>

  <p>ПРАВИЛА ТА УМОВИ

    КЛЮЧОВІ УМОВИ ТА ПОНЯТТЯ

    Відвідувач веб-сайту - людина, яка відвідала веб-сайт ua.ttswtrs.com, проте не зробила замовлення.

    Користувач - окремий відвідувач веб-сайту, який приймає умови Користувацької угоди та має бажання розміщувати Замовлення на сайті ua.ttswtrs.com.

    Покупець - Користувач, який зробив замовлення на ua.ttswtrs.com з метою придбання товарів для особистих потреб.

    Продавець - Осмехіна Анна Валеріївна (ІНН 3013403842) приватний підприємець, діє згідно з чинним законодавством України. Продавець не є платником ПДВ в Україні. Продаж товарів здійснюється зі складів Продавця.

    Веб-сайт- ua.ttswtrs.com

    Товари - одяг, аксесуари та інші товари для продажу на веб-сайті Продавця.

    Замовлення - правильно виконаний запит Покупця на придбання та доставку Товару, обраного на Веб-сайті Продавця, та оформленого на відповідну адресу, вказану Покупцем.</p>
</div>
