<div class="container">

  <h1>Умови використання</h1>
  <div>
    <p>ПРАВИЛА ТА УМОВИ

    <p>КЛЮЧОВІ УМОВИ ТА ПОНЯТТЯ</p>

    <p>Відвідувач веб-сайту - людина, яка відвідала веб-сайт ua.ttswtrs.com, проте не зробила замовлення.</p>

    <p> Користувач - окремий відвідувач веб-сайту, який приймає умови Користувацької угоди та має бажання розміщувати
      Замовлення на сайті ua.ttswtrs.com.</p>

    <p>Покупець - Користувач, який зробив замовлення на ua.ttswtrs.com з метою придбання товарів для особистих
      потреб.</p>

    <p> Продавець - Осмехіна Анна Валеріївна (ІНН 3013403842) приватний підприємець, діє згідно з чинним законодавством
      України. Продавець не є платником ПДВ в Україні. Продаж товарів здійснюється зі складів Продавця.</p>

    <p> Веб-сайт- ua.ttswtrs.com</p>

    <p> Товари - одяг, аксесуари та інші товари для продажу на веб-сайті Продавця.</p>

    <p> Замовлення - правильно виконаний запит Покупця на придбання та доставку Товару, обраного на Веб-сайті Продавця,
      та оформленого на відповідну адресу, вказану Покупцем.</p>
  </div>
</div>
