@import "src/app/shared/styles/variables";
@import "src/app/shared/styles/mixins";

.secondContainer {
  background-color: $lightColor;

  form {
    padding: 15vh 10vw 5vh 10vw;

    h1 {
      @include text($primaryFont, 14px);
      margin-bottom: 1vh;
    }

    .nameContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .nameWrapper {
      width: 45%;
      display: flex;
      flex-direction: column;

      input {
        width: 100%;
      }
    }

    input {
      display: inline-block;
      text-align: start;
      appearance: auto;
      @include text($primaryFont, 14px);
      line-height: 2rem;
      letter-spacing: 0.035em;
      border: none;
      border-bottom: 1px solid #2d2d2d;
      background: transparent;
      padding: 1vh 0;
      //width: 200px;
      height: 30px;
      margin-top: 1vh;
      margin-bottom: 5vh;
      width: 100%;
    }

    input:focus {
      outline: none;
    }

    label {
      @include text($primaryFont, 14px, 500, $sideColor);
    }


    .areaCodeWrapper {
      width: 30%;
    }

    .phoneWrapper {
      width: 65%;
    }


    .deliveryWrapper {
      width: 100%;
      height: 15vh;
      margin-top: 5vh;
      //background-color: #fc2525;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 1px solid $primaryColor;
      padding: 4vh 3vw;

      input {
        width: 15px;
      }

      label {
        width: 90%;

        div {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          h3 {
            @include text($primaryFont, 14px);
          }
        }
      }
    }

    button {
      //display: flex;
      text-transform: uppercase;
      height: 10vh;
      border: solid 1px $primaryColor;
      cursor: pointer;
      border-radius: 0;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: background 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s, border-color 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
      width: 100%;
      margin-top: 15vh;

      div {
        height: 100%;
        width: 100%;
      }

    }

    .addToBasketDis {
      background-color: transparent;
      @include text($primaryFont, 14px, 500, $primaryColor);
      opacity: 0.8;
    }

    .addToBasketActive {
      background-color: $primaryColor;
      @include text($primaryFont, 14px, 500, $lightColor);
      opacity: 1;
    }

    .addToBasketActive:disabled {
      opacity: 0.5;
    }

    .buttonBuyPrice {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin: 0 3vw 0 3vw;
    }

    .selectTxt {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      span {
        width: 100%;
        height: 100%;
        line-height: 10vh;
      }
    }
  }
}

.displayNone {
  display: none !important;
}

input:invalid {
  border-bottom: 1px solid red !important;
}

.redBottom {
  border-bottom: 1px solid red !important;
}

.redBox {
  border: 1px solid red;
}
