@import "./app/shared/styles/variables";
@import "./app/shared/styles/mixins";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: Raleway;
  src: url("/assets/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: RalewayBold;
  src: url("/assets/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: Padaloma;
  src: url("/assets/fonts/Padaloma_i.ttf");
}


.container{
  width: 100%;
  min-height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0 10vw 5vh 10vw;
  h1{
    @include text($boldPrimaryFont, 40px);
    padding-top: 10vh;
  }

  p{
    @include text($primaryFont, 15px);
    margin: 20px 0;

  }
}

.forHeader{
  width: 100%;
  height: 10vh;
  background-color: $lightColor;
}
