<form [formGroup]="collectionForm"
      (ngSubmit)="editStatus ? updateCollection() : createCollection()">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input formControlName="name" type="text" class="form-control" id="name">
  </div>
  <div class="mb-3">
    <label for="path" class="form-label">Path</label>
    <input formControlName="path" type="text" class="form-control" id="path">
  </div>
  <button [disabled]="collectionForm.invalid"
          type="submit"
          class="btn btn-primary"
          [textContent]="editStatus ? 'Save' : 'Add'"
          [classList]="editStatus ? 'btn btn-success' : 'btn btn-primary'"></button>
</form>
<hr>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Path</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr class="align-middle" *ngFor="let collection of adminCollections; index as i">
    <td>{{ i + 1 }}</td>
    <td>{{ collection.name }}</td>
    <td>{{ collection.path }}</td>
    <td>
      <button (click)="editCollection(collection)" class="btn btn-warning me-3">Edit</button>
      <button (click)="deleteCollection(collection)" class="btn btn-danger">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
